@import "reset";

body {
  background-color: #f6f1ed;
  color: #3b3a36;
}

header {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: auto;
  align-items: flex-start;
  color: #CD7213;
  .container {
    width: 600px;
    display: flex;
    flex-direction: column;
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      font-size: 20px;
      div {
        width: 50px;
        height: 50px;
        border: 2px solid black;
        transition: transform .6s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          transform: rotate(360deg);
        }
      }
      ul {
        display: flex;
        width: 50px;
        justify-content: space-between;
        a:link, a:hover, a:active, a:visited {
          color: #EFB509;
          &:hover {
            color: #CD7213;
          }
        }
      }
    }
    .about {
        text-align: justify;
        color: #3b3a36;
        margin-top: 100px;
        h1 {
          text-align: center;
          text-transform: uppercase;
          font-size: 80px;
        }
        p {
        text-align: justify;
        font-size: 40px;
        }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  .container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 80px;
      text-transform: uppercase;
    }
  }
}
