@import "reset";

$breakpoint-tablet: 790px;
$breakpoint-screen: 1400px;
$breakpoint-large-screen: 1600px;
$hover-color: #EFB509;

body {
  background-color: #f6f1ed;
  color: #3b3a36;
  font-family: 'Nanum Brush Script', cursive;
}

header {
  display: flex;
  justify-content: center;
  height: 800px;
  width: auto;
  align-items: flex-start;
  color: #CD7213;
  @media (min-width: $breakpoint-large-screen) {
    height: 500px;
  }
  .container {
    width: 600px;
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-screen) {
      width: 800px;
    }
    @media (min-width: $breakpoint-large-screen) {
      width: 1500px;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      font-size: 20px;
      div {
        width: 50px;
        height: 50px;
        border: 2px solid black;
        transition: transform .6s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          transform: rotate(360deg);
        }
      }
      ul {
        display: flex;
        width: 50px;
        justify-content: space-between;
        a:link, a:hover, a:active, a:visited {
          color: #EFB509;
          &:hover {
            color: #CD7213;
          }
        }
      }
    }
    .about {
      text-align: justify;
      color: #3b3a36;
      margin-top: 100px;
      h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 80px;
      }
      p {
        text-align: justify;
        font-size: 40px;
      }
    }
  }
}

main {
  display: flex;
  justify-content: center;
  height: 1000px;
  @media (min-width: $breakpoint-tablet){
    height: 1600px;
  }
  .container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $breakpoint-screen) {
      width: 800px;
    }
    @media (min-width: $breakpoint-large-screen) {
      width: 1500px;
    }
    h2 {
      text-transform: uppercase;
      font-size: 80px;
    }
    hr {
      margin-bottom: 40px;
    }
    div.technologies {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .fa-html5 {
        color: #f21422;
        :hover {
          color: $hover-color;
        }
      }
      .fa-css3-alt {
        color: #5a00e0;
        :hover {
          color: $hover-color;
        }
      }
      .fa-js-square {
        color: #e7ec56;
        :hover {
          color: $hover-color;
        }
      }
      .fa-sass {
        color: #de2196;
        :hover {
          color: $hover-color;
        }
      }
      .fa-react {
        color: #3dd8fa;
        :hover {
          color: $hover-color;
        }
      }
      .fa-angular {
        color: #ee002c;
        :hover {
          color: $hover-color;
        }
      }
      .fa-github {
        color: #353434;
        :hover {
          color: $hover-color;
        }
      }
      .fa-gulp {
        color: #fb0047;
        :hover {
          color: $hover-color;
        }
      }
      .fa-npm {
        color: #d80035;
        :hover {
          color: $hover-color;
        }
      }
    }
  }
}

article {
  display: flex;
  justify-content: center;
  height: 2200px;
  .container {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 80px;
    }
    h4 {
      font-size: 40px;
      margin: 40px;
    }
    img {
      height: 850px;
      width: 600px;
    }
  }
}

.first_project {
  background-image: url("./images/film-search-app.png");
  height: 1000px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.second_project {
  background-image: url("./images/tomorrowland-page.png");
  height: 1000px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media only screen and (max-width: $breakpoint-large-screen) {
  .first_project, .second_project {
    height: 800px;
  }
}
@media only screen and (max-width: $breakpoint-screen) {
  .first_project, .second_project {
    height: 500px;
  }
}

footer {
  display: flex;
  justify-content: center;
  background-color: #353434;
  color: #f6f1ed;
  .container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $breakpoint-screen) {
      width: 800px;
    }
    @media (min-width: $breakpoint-large-screen) {
      width: 1500px;
    }
    h5 {
      font-size: 80px;
    }
    p {
      padding: 20px;
      font-size: 40px;
    }
  }
}